@font-face {
    font-family: "Brandon Grotesque";
    src: url("./fonts/brandon.otf");
}

:root {
    --colorprimario: #021F59;
    --textos: #0A4273;
    --colorsecundario: #EBF3F4;
    --brandon: "Brandon Grotesque", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --noto: "Noto Sans CJK JP";
    --hovera: #047F8C;
    --englishcolor: #275B88;
}

html {
    font-size: 62.5%;
    /* 10px */
}

body {
    font-size: 1.5rem;
}


/* GENERALES */

.container {
    max-width: 105rem;
    margin: 0 auto;
}

span {
    letter-spacing: .289rem;
    font-family: var(--noto);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--colorprimario);
}

h2.english {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--englishcolor);
    font-family: var(--brandon);
    font-weight: bold;
    letter-spacing: .49rem;
}

h2 {
    font-family: var(--noto);
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--colorprimario);
    letter-spacing: .544rem;
}

h3 {
    font-family: var(--noto);
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--colorprimario);
    letter-spacing: .408rem;
}

h4 {
    font-family: var(--noto);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--textos);
    letter-spacing: .4rem;
}

h5 {
    font-family: var(--noto);
    font-weight: normal;
    font-size: 1.3rem;
    color: var(--textos);
    letter-spacing: .27rem;
}

p {
    font-family: var(--noto);
    color: var(--textos);
    font-size: 1.3rem;
    font-weight: normal;
}

a {
    font-family: var(--noto);
    font-size: 1.2rem;
    font-weight: bold;
    color: (--textos);
}

a:hover {
    color: (--hovera);
    text-decoration: underline;
    text-decoration-color: var(--hovera);
}

@media (min-width:768px) {
    span {
        font-size: 1.7rem;
    }
    h2.english {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.6rem;
    }
    a:hover {
        color: (--hovera);
    }
}

img {
    width: 100%;
}

.color-primario {
    color: var(--colorprimario);
}

.line-height-32 {
    line-height: 3.2rem;
}

.line-height-34 {
    line-height: 3.4rem;
}

.letter-spacing-1 {
    letter-spacing: 0.1rem;
}

.letter-spacing-2 {
    letter-spacing: 0.2rem;
}

.letter-spacing-6 {
    letter-spacing: 0.6rem !important;
}

.letter-spacing-8 {
    letter-spacing: 0.8rem !important;
}

.letter-spacing-9 {
    letter-spacing: 0.9rem;
}

.font-noto {
    font-family: var(--noto);
}

.font-brandon {
    font-family: var(--brandon);
}

.font-weight-bold {
    font-weight: bold;
}

.color-white {
    color: #fff !important;
}

.color-azul-claro {
    color: var(--textos) !important;
}

.zi9 {
    z-index: 9;
}

.zi99 {
    z-index: 99;
}

.pl-50 {
    padding-left: 5rem;
}

.w-95 {
    max-width: 95rem;
}

.w-450 {
    max-width: 45rem;
}

.w-500 {
    max-width: 50rem;
}

.w-525 {
    max-width: 52.5rem;
}

.w-624 {
    max-width: 62.4rem;
}

.w-860 {
    max-width: 86rem;
}

.w-1050 {
    max-width: 105rem;
}

.h-250 {
    height: 25rem;
}

.h-231 {
    height: 23.1rem;
}

.h-300 {
    height: 30rem;
}

.h-350 {
    height: 35rem;
}

.font-size-14 {
    font-size: 1.4rem;
}

.font-size-16 {
    font-size: 1.6rem;
}

.font-size-24 {
    font-size: 2.4rem;
}

.font-size-32 {
    font-size: 3.2rem;
}

.font-size-40 {
    font-size: 4rem;
}

.bg-secundario {
    background-color: var(--colorsecundario);
}

.py-80 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.pt-75 {
    padding-top: 7.5rem;
}

.pb-80 {
    padding-bottom: 8rem;
}

.mt-50 {
    margin-top: 5rem;
}

.mt-80 {
    margin-top: 8rem;
}

.mb-50 {
    margin-bottom: 5rem;
}

.mb-80 {
    margin-bottom: 8rem;
}

.opacity-1 {
    opacity: 1;
}


/* PERSONALIZADOS */

.fondo-azul-transparente {
    position: relative;
}

.fondo-azul-transparente::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 31, 89, .6);
}


/* .boton {
    position: relative;
    max-width: 39rem;
    width: 100%;
    background: transparent;
    height: 7rem;
    z-index: 2;
} */

.boton-secundario {
    position: relative;
    max-width: 390px;
    width: 100%;
    height: 60px;
    margin: 30px 0 30px 0;
    clear: both;
    padding: 20px;
    border: none;
    border: 1px solid #fff;
    display: block;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 500;
    background: transparent;
    position: relative;
    color: #fff;
}

.boton-secundario::after {
    width: 100%;
    height: 60px;
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: 10px;
    z-index: -1;
    background: var(--colorprimario);
    transition: all .5s ease-in-out;
}

.boton-secundario:hover::after {
    top: 0;
    left: 0;
}


/* menu top */

.atras-menu {
    height: 15rem;
}

.menutop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.97);
    color: var(--colorprimario);
    padding: 50px;
    z-index: 99;
}

.menutop a {
    color: var(--colorprimario);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.titulo-hero {
    letter-spacing: .68rem;
}

.top-hero {
    min-height: 45rem;
    background-image: url("../img/heroimg.png");
    font-family: var(--brandon);
    font-weight: bold;
    color: #fff;
    font-size: 1.6rem;
    background-size: cover;
}

.logo {
    width: 27.559rem;
    height: 5rem;
}


/* SECCION 2 */

.cont-img2 {
    margin-top: -15rem;
    max-width: 105rem;
    position: relative;
    padding: 0;
    margin-bottom: 5rem;
    ;
}

.img2 {
    width: 100%;
    position: relative;
}

.cont-img2 div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 31, 89, .6);
}

@media (min-width:768px) {
    img.img-left {
        width: 700px !important;
        margin-left: -193px !important;
    }
    img.img-right {
        width: 700px !important;
        margin-right: -193px !important;
    }
}

.grupofotos {
    background: url(../img/grupo.png);
}